@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 20px;
    padding: 20px;
    font-family: 'Inter', sans-serif;
}

h1 {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.2em;
}

.text {
    font-weight: bold;
    font-style: italic;
}

.top-section {
    border: 2px solid black;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.image-section {
    margin-top: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}

img {
    width: 1051px;
    height: auto;
}

.trivia-section {
    padding-left: 0px;
    line-height: 2;
    box-sizing: border-box;
}

ol {
    padding: 5px;
    list-style-position: inside;
}

/* For screens up to 500px */
@media screen and (max-width: 500px) {
    img {
        width: 80%;
        height: auto;
    }
}

/* For screens between 501px and 768px */
@media screen and (min-width: 501px) and (max-width: 768px) {
    img {
        width: 80%;
        height: auto;
    }
}

/* For screens between 769px and 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    img {
        width: 80%;
        height: auto;
    }
}

/* For screens larger than 1024px */
@media screen and (min-width: 1025px) {
    img {
        width: 80%;
        height: auto;
    }
}
